* {
  font-family: 'Roboto', sans-serif;
}


.form {
  width:100%;
}

table {
  border: 1px solid #ddd;
  margin: 20px;
  border-collapse: collapse;
  
}
table td {
  padding: 15px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* dynamic form */
.dynamic-form {
    box-shadow: 2px 6px 8px grey;
    margin-bottom: 5px;
    padding: 10px;
    margin: 10px 2px;
    max-width: 600px;

}
.dynamic-form .form-group {
    padding: 0.2em 0.4em;
    flex:1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.dynamic-form .form-label {
    text-align: left;
    color: #2E86C1;
}
.dynamic-form .form-input{
    margin-top: 2px;
    line-height: 1.5em;
}

.dynamic-form select{
    margin-top: 2px;
    line-height: 1.5em;
}

.dynamic-form .form-group button{
    padding: .5em;
}

.dynamic-form .form-group-radio {
    display: flex;
    flex-direction: row;
}

.form-group-radio label {
  padding-left: 5px;
  padding-right: 10px;
}

.form-group-radio input {
}

.dynamic-form .form-group-checkbox {
  display: flex;
  flex-direction: row;
}

.form-group-checkbox label {
  padding-left: 5px;
  padding-right: 10px;
}

.form-group-checkbox input {
  padding-left: 5px;
}

.form-title {
    text-align: left;
}

.form-actions {
    display: flex;
}

.form-actions button {
    min-width: 40px;
    line-height: 1.5em;
    background-color: #3498DB;
    color: white;
    border-radius: 4px;
    border:0;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom:5px;
    padding: 5px;
}

/* utilities */
.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}