* {
  margin: 0;
  padding: 0;
}

.content {
  margin: 1.5rem;
}

ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

.chapter-links {
  cursor: pointer;
  padding-left: 1rem;
}

.chapter-link {
  padding-left: 2rem;
}

.section-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section-link {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  margin-right: 0.9rem;
  border-radius:50%;
  border: 1px solid lightgray;
  background-color: darkorchid;
  color: white;
  width:2rem;
  height:2rem;
}