.content {
  margin-top: 2rem;
}

ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

.chapter-links {
  cursor: pointer;
}

.chapter-link {
  padding-left: 2rem;
}
.section-link {
  text-decoration: none;
  font-size: 0.8rem;
  text-align: center;
  margin-right: 0.9rem;
  border-radius:50%;
  display: inline-block;
  border: 1px solid lightgray;
  background-color: darkorchid;
  color: white;
  width:1.5rem;
  height:1.5rem;
}